In [1]:
import pandas as pd
import re

# Ohio School Performance Index Rankings Data

In [2]:
# "pi" = Performance Index

pi_excel = pd.ExcelFile(r"C:\Users\joesp\Documents\Projects\school-inequity\data\2018-19_Performance_Index_Rankings.xlsx")
print("Excel Sheets: {}".format(pi_excel.sheet_names))
pi = pi_excel.parse("LEA Rankings")
pi.head(5)

Excel Sheets: ['Data Notes', 'LEA Rankings', 'Building Rankings']

,2019 PI Rank,LEA Name,2019 PI Proxy Descriptor,2019 PI for Ranking,2019 PI Letter Grade,ODE Designated County,LEA IRN,LEA Org Type,LEA Status as of 09/11/19,2019 Grade Span,Additional Comments
0,1,Columbus Preparatory Academy,Actual PI,112.77,A,Franklin,558,Community School,Open,K-12,NaN
1,2,Solon City,Actual PI,112.623,A,Cuyahoga,46607,Public District,Open,K-12,NaN
2,3,Rocky River City,Actual PI,109.385,A,Cuyahoga,44701,Public District,Open,K-12,NaN
3,4,Chagrin Falls Exempted Village,Actual PI,109.224,A,Cuyahoga,45286,Public District,Open,K-12,NaN
4,5,Madeira City,Actual PI,109.171,A,Hamilton,44289,Public District,Open,K-12,NaN

### Only keeping public schools, dropping irrelevant columns

In [3]:
print("Total Number of School Districts: {}".format(len(pi)))
pi = pi[pi['LEA Org Type'] == "Public District"]
print("Total Number of Public School Districts: {}".format(len(pi)))

Total Number of School Districts: 865
Total Number of Public School Districts: 608

In [4]:
pi = pi[['2019 PI Rank','LEA Name', '2019 PI for Ranking', 'ODE Designated County', 'LEA IRN']]

pi.reset_index(inplace=True, drop=True)
pi.drop(columns=["2019 PI Rank"], inplace=True)
pi.insert(0, "2019 Public PI Rank", pi.index+1)
pi.head(5)

,2019 Public PI Rank,LEA Name,2019 PI for Ranking,ODE Designated County,LEA IRN
0,1,Solon City,112.623,Cuyahoga,46607
1,2,Rocky River City,109.385,Cuyahoga,44701
2,3,Chagrin Falls Exempted Village,109.224,Cuyahoga,45286
3,4,Madeira City,109.171,Hamilton,44289
4,5,Ottawa Hills Local,109.06,Lucas,48215

# Ohio Property Tax Data

In [5]:
# "pt" = Property Tax

pt_excel = pd.ExcelFile(r"C:\Users\joesp\Documents\Projects\school-inequity\data\2018_Property_Tax.xls")
print("Excel Sheets: {}".format(pt_excel.sheet_names))
pt = pt_excel.parse("Abs18sd")
pt.head(5)

Excel Sheets: ['Abs18sd']

,2018 REAL PROPERTY ABSTRACT BY SCHOOL DISTRICT - ASSESSED VALUES,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,2019-01-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,POLITICAL,NaN,NaN,NaN,AGRICULTURAL,RESIDENTIAL,MINERAL,INDUSTRIAL,COMMERCIAL,REAL RAILROAD,CLASS 1,CLASS 2
3,UNIT #,SCHOOL DISTRICT,LINE,FLAG,VALUE,VALUE,VALUE,VALUE,VALUE,VALUE,VALUE,VALUE
4,20010,ADA EVSD,1,B,-1180,-65450,0,0,-1090,0,-66630,-1090

### Only keeping total values, dropping irrelevant columns

In [6]:
pt = pt[['Unnamed: 1', 'Unnamed: 3', 'Unnamed: 10', 'Unnamed: 11']]
pt.columns = ['School District', 'Flag', 'Class 1 Value', 'Class 2 Value']
pt = pt.drop(index=pt.index[0:4])
pt = pt[pt['Flag'] == "T"]
pt = pt.drop(columns=['Flag'])
pt.reset_index(inplace=True, drop=True)
pt.head(5)

  School District Class 1 Value Class 2 Value
0        ADA EVSD      92522880      13874440
1       ADENA LSD     130129090       4150430
2       AKRON CSD    1595594500     633707220
3   ALEXANDER LSD     176498800      10605750
4  ALLEN EAST LSD     128182940       3267270

# Ohio School District Student Data

In [7]:
# "s" = Student

s_excel = pd.ExcelFile(r"C:\Users\joesp\Documents\Projects\school-inequity\data\2018-19_District_Student_Headcount.xls")
print("Excel Sheets: {}".format(s_excel.sheet_names))
s = s_excel.parse("fy19_hdcnt_dist")
s.head(5)

Excel Sheets: ['data notes', 'fy18_hdcnt_state', 'fy19_hdcnt_dist', 'fy19_hdcnt_bldg', 'fy19_hdcnt_cs']

,DIST_IRN,DIST_NAME,COUNTY,PRESCHOOL,KINDERGARTEN,GRADE_1,GRADE_2,GRADE_3,GRADE_4,GRADE_5,...,STUDENT_ECONDIS,STUDENT_WHITE,STUDENT_BLACK,STUDENT_LATINO,STUDENT_ASIAN,STUDENT_NATIVEAM,STUDENT_NATHAW,STUDENT_MULTI,STUDENT_FEMALE,STUDENT_MALE
0,442,Manchester Local,Adams,20,46,53,72,83,59,71,...,834,836,<10,<10,<10,0,0,14,410,446
1,43489,Akron City,Summit,553,1743,1640,1577,1563,1680,1613,...,21295,6850,9908,848,1807,12,17,1853,10343,10952
2,43497,Alliance City,Stark,240,201,196,191,191,195,227,...,3043,2106,369,97,10,<10,<10,451,1436,1607
3,43505,Ashland City,Ashland,134,237,237,224,247,236,252,...,1050,2931,37,67,23,0,<10,127,1558,1633
4,43513,Ashtabula Area City,Ashtabula,174,245,228,246,318,242,242,...,3414,2146,235,596,<10,<10,<10,437,1662,1763

### Dropping irrelevant columns

In [8]:
s = s.replace(['<10'], '0')
s['Total Students'] = s['STUDENT_FEMALE'].astype(int) + s['STUDENT_MALE'].astype(int)
s = s[['DIST_IRN', 'DIST_NAME', 'COUNTY', 'STUDENT_W_DISABILITY', 'STUDENT_EL', 'STUDENT_ECONDIS',
       'STUDENT_WHITE', 'STUDENT_BLACK', 'STUDENT_LATINO', 'STUDENT_ASIAN',
       'STUDENT_NATIVEAM', 'STUDENT_NATHAW', 'STUDENT_MULTI', 'Total Students']]
s.head(5)

,DIST_IRN,DIST_NAME,COUNTY,STUDENT_W_DISABILITY,STUDENT_EL,STUDENT_ECONDIS,STUDENT_WHITE,STUDENT_BLACK,STUDENT_LATINO,STUDENT_ASIAN,STUDENT_NATIVEAM,STUDENT_NATHAW,STUDENT_MULTI,Total Students
0,442,Manchester Local,Adams,150,0,834,836,0,0,0,0,0,14,856
1,43489,Akron City,Summit,3937,1793,21295,6850,9908,848,1807,12,17,1853,21295
2,43497,Alliance City,Stark,520,11,3043,2106,369,97,10,0,0,451,3043
3,43505,Ashland City,Ashland,389,27,1050,2931,37,67,23,0,0,127,3191
4,43513,Ashtabula Area City,Ashtabula,743,192,3414,2146,235,596,0,0,0,437,3425

# Joining Data into Final Dataset

### Joining Student Data and Performance Index Rankings

In [9]:
# Simple join using IRN numbers

s_pi = s.join(pi.set_index('LEA IRN'), on='DIST_IRN', how="inner")
s_pi.reset_index(inplace=True, drop=True)
s_pi.head(5)

,DIST_IRN,DIST_NAME,COUNTY,STUDENT_W_DISABILITY,STUDENT_EL,STUDENT_ECONDIS,STUDENT_WHITE,STUDENT_BLACK,STUDENT_LATINO,STUDENT_ASIAN,STUDENT_NATIVEAM,STUDENT_NATHAW,STUDENT_MULTI,Total Students,2019 Public PI Rank,LEA Name,2019 PI for Ranking,ODE Designated County
0,442,Manchester Local,Adams,150,0,834,836,0,0,0,0,0,14,856,458,Manchester Local,84.24,Adams
1,43489,Akron City,Summit,3937,1793,21295,6850,9908,848,1807,12,17,1853,21295,587,Akron City,67.229,Summit
2,43497,Alliance City,Stark,520,11,3043,2106,369,97,10,0,0,451,3043,568,Alliance City,74.026,Stark
3,43505,Ashland City,Ashland,389,27,1050,2931,37,67,23,0,0,127,3191,218,Ashland City,92.866,Ashland
4,43513,Ashtabula Area City,Ashtabula,743,192,3414,2146,235,596,0,0,0,437,3425,569,Ashtabula Area City,73.878,Ashtabula

### Joining with Property Tax Info

#### Helping Methods

In [10]:
# Will split full name of school into the school's name and its county (county only included if needed)
def splitNameCounty(full_name):
    name_county_index = -1
    name_acronyms = ['LSD', 'CSD', 'EVSD', 'SD']
    county_acronyms = ['CO']
    
    county = ''
    name = full_name
    acronym_dict = {'LSD':'LOCAL', 'CSD':'CITY', 'EVSD':'EXEMPTED VILLAGE', 'SD':'SCHOOLS'}
    
    for acronym in name_acronyms:
        try:
            name_county_index = full_name.index(acronym)
            name = full_name[:name_county_index+1]
            name.append(acronym_dict[acronym])
            county = full_name[name_county_index+1:]
        except ValueError:
            name_county_index = -1
            
    name = [x.capitalize() for x in name if x not in name_acronyms]
    county = [x.capitalize() for x in county if x not in county_acronyms]
            
    return name, county

# Generates possible district matches from the name of the school in the property tax data in order to join it
def generatePosDists(index, row): #PosDists = Possible Districts
    split_name = re.findall(r'\w+', row[0])
    
    name, county = splitNameCounty(split_name)
    
    # Generates list of possible matching districts based on the first word in the combined name and county
    pos_dists = s_pi[s_pi['DIST_NAME'].str.contains(r"\b" + name[0] + r"\b", flags=re.IGNORECASE)]
    pos_dists = pos_dists[pos_dists['Joined'] == 0]
    
    if (len(pos_dists) > 1):
        for i in range(len(name)-1):
            pos_dists = pos_dists[pos_dists['DIST_NAME'].str.contains(r"\b" + name[i+1] + r"\b", flags=re.IGNORECASE)]
    
    if (len(pos_dists) > 1):
        if (len(county) > 0):
            pos_dists = pos_dists[pos_dists['COUNTY'].str.contains(r"\b" + county[0] + r"\b", flags=re.IGNORECASE)]
            
    if (len(pos_dists) == 1):
        s_pi.at[pos_dists.index, "Joined"] = 1
    
    return pos_dists, name, county

#### Iterating through Property Tax data, adding to final dataset

In [11]:
# No IRN numbers in Property Tax Information, have to match based on School names
s_pi_pt = pd.DataFrame()
s_pi['Joined'] = 0

# Added helper variable to s_pi, indicating if school district is joined to final dataset. Dropping districts from pt as they get joined as well.
# Do multiple times so that definite district matches can happen, less definite district matches narrowed down for subsequent round.
for i in range(5):
    for index, row in pt.iterrows():
        pos_dists, name, county = generatePosDists(index, row)

        if (len(pos_dists) == 1):
            pos_dists["Class 1 Value"], pos_dists["Class 2 Value"] = row['Class 1 Value'], row['Class 2 Value']
            s_pi_pt = s_pi_pt.append(pos_dists)
            pt.drop(index, inplace=True)

#### Manually Join Remaining Data

In [12]:
print("Number of districts joined: {}".format(len(s_pi_pt)))
print("Number of districts left unjoined: {}".format(len(s_pi[s_pi["Joined"] == 0])))
unjoined = s_pi[s_pi["Joined"] == 0]

for index, row in unjoined.iterrows():
    s_pi_pt = s_pi_pt.append(row)

s_pi_pt.reset_index(inplace=True, drop=True)
s_pi_pt.tail(len(s_pi[s_pi["Joined"] == 0]))

Number of districts joined: 599
Number of districts left unjoined: 9

,DIST_IRN,DIST_NAME,COUNTY,STUDENT_W_DISABILITY,STUDENT_EL,STUDENT_ECONDIS,STUDENT_WHITE,STUDENT_BLACK,STUDENT_LATINO,STUDENT_ASIAN,...,STUDENT_NATHAW,STUDENT_MULTI,Total Students,2019 Public PI Rank,LEA Name,2019 PI for Ranking,ODE Designated County,Joined,Class 1 Value,Class 2 Value
599,43786,Cleveland Municipal,Cuyahoga,8191,3679,38000,5878,24372,6158,440,...,56,1011,38000,601,Cleveland Municipal,61.564,Cuyahoga,0,NaN,NaN
600,43794,Cleveland Heights-University Heights City,Cuyahoga,964,98,5282,925,3771,193,100,...,0,289,5284,560,Cleveland Heights-University Heights City,75.177,Cuyahoga,0,NaN,NaN
601,44412,Mt Healthy City,Hamilton,600,117,2951,394,2059,176,28,...,0,306,2968,600,Mt Healthy City,61.666,Hamilton,0,NaN,NaN
602,47068,Fayette Local,Fulton,59,14,163,329,0,64,0,...,0,0,408,402,Fayette Local,86.81,Fulton,0,NaN,NaN
603,47456,McComb Local,Hancock,74,18,246,584,0,82,0,...,0,10,689,379,McComb Local,87.471,Hancock,0,NaN,NaN
604,47894,Riverside Local,Lake,460,117,1091,3407,113,320,31,...,0,197,4072,226,Riverside Local,92.626,Lake,0,NaN,NaN
605,48090,Riverside Local,Logan,92,0,271,605,0,13,0,...,0,29,652,353,Riverside Local,88.298,Logan,0,NaN,NaN
606,48595,Fort Recovery Local,Mercer,110,0,70,979,0,22,0,...,0,0,1018,71,Fort Recovery Local,100.575,Mercer,0,NaN,NaN
607,50229,McDonald Local,Trumbull,98,0,260,701,11,34,0,...,0,21,768,116,McDonald Local,97.582,Trumbull,0,NaN,NaN

In [13]:
s_pi_pt.at[599, "Class 1 Value"], s_pi_pt.at[599, "Class 2 Value"] = 2253637700, 2629941530
s_pi_pt.at[600, "Class 1 Value"], s_pi_pt.at[600, "Class 2 Value"] = 927173650, 165123440
s_pi_pt.at[601, "Class 1 Value"], s_pi_pt.at[601, "Class 2 Value"] = 231839560, 46723260
s_pi_pt.at[602, "Class 1 Value"], s_pi_pt.at[602, "Class 2 Value"] = 52713970, 3493110
s_pi_pt.at[603, "Class 1 Value"], s_pi_pt.at[603, "Class 2 Value"] = 118071180, 6375050
s_pi_pt.at[604, "Class 1 Value"], s_pi_pt.at[604, "Class 2 Value"] = 938330660, 115140430
s_pi_pt.at[605, "Class 1 Value"], s_pi_pt.at[605, "Class 2 Value"] = 78319060, 3118510
s_pi_pt.at[606, "Class 1 Value"], s_pi_pt.at[606, "Class 2 Value"] = 107466310, 10287310
s_pi_pt.at[607, "Class 1 Value"], s_pi_pt.at[607, "Class 2 Value"] = 47770760, 3073240

# Found error in data, Mount Vernon was given Mount Healthy's data, Mount Vernon was given as "Mount Vernon" and Mount Healthy as "Mt Healthy"
s_pi_pt.at[334, "Class 1 Value"], s_pi_pt.at[334, "Class 2 Value"] = 474687300, 90713830

In [14]:
s_pi_pt.tail(len(s_pi[s_pi["Joined"] == 0]))

,DIST_IRN,DIST_NAME,COUNTY,STUDENT_W_DISABILITY,STUDENT_EL,STUDENT_ECONDIS,STUDENT_WHITE,STUDENT_BLACK,STUDENT_LATINO,STUDENT_ASIAN,...,STUDENT_NATHAW,STUDENT_MULTI,Total Students,2019 Public PI Rank,LEA Name,2019 PI for Ranking,ODE Designated County,Joined,Class 1 Value,Class 2 Value
599,43786,Cleveland Municipal,Cuyahoga,8191,3679,38000,5878,24372,6158,440,...,56,1011,38000,601,Cleveland Municipal,61.564,Cuyahoga,0,2.253638e+09,2.629942e+09
600,43794,Cleveland Heights-University Heights City,Cuyahoga,964,98,5282,925,3771,193,100,...,0,289,5284,560,Cleveland Heights-University Heights City,75.177,Cuyahoga,0,9.271736e+08,1.651234e+08
601,44412,Mt Healthy City,Hamilton,600,117,2951,394,2059,176,28,...,0,306,2968,600,Mt Healthy City,61.666,Hamilton,0,2.318396e+08,4.672326e+07
602,47068,Fayette Local,Fulton,59,14,163,329,0,64,0,...,0,0,408,402,Fayette Local,86.81,Fulton,0,5.271397e+07,3.493110e+06
603,47456,McComb Local,Hancock,74,18,246,584,0,82,0,...,0,10,689,379,McComb Local,87.471,Hancock,0,1.180712e+08,6.375050e+06
604,47894,Riverside Local,Lake,460,117,1091,3407,113,320,31,...,0,197,4072,226,Riverside Local,92.626,Lake,0,9.383307e+08,1.151404e+08
605,48090,Riverside Local,Logan,92,0,271,605,0,13,0,...,0,29,652,353,Riverside Local,88.298,Logan,0,7.831906e+07,3.118510e+06
606,48595,Fort Recovery Local,Mercer,110,0,70,979,0,22,0,...,0,0,1018,71,Fort Recovery Local,100.575,Mercer,0,1.074663e+08,1.028731e+07
607,50229,McDonald Local,Trumbull,98,0,260,701,11,34,0,...,0,21,768,116,McDonald Local,97.582,Trumbull,0,4.777076e+07,3.073240e+06

### Dropping Irrelevant Columns

In [15]:
s_pi_pt = s_pi_pt[['DIST_IRN', 'DIST_NAME', 'COUNTY', 'STUDENT_W_DISABILITY',
       'STUDENT_EL', 'STUDENT_ECONDIS', 'STUDENT_WHITE', 'STUDENT_BLACK',
       'STUDENT_LATINO', 'STUDENT_ASIAN', 'STUDENT_NATIVEAM', 'STUDENT_NATHAW',
       'STUDENT_MULTI', 'Total Students', '2019 Public PI Rank',
       '2019 PI for Ranking', 'Class 1 Value', 'Class 2 Value']]

# Error Checking

In [16]:
# On final dataset, checked for duplicate Class 1 or Class 2 values
# Duplicates would probably means errors, as it is very unlikely two districts have the exact same values
s_pi_pt[s_pi_pt.duplicated(['Class 1 Value'])]

Empty DataFrame
Columns: [DIST_IRN, DIST_NAME, COUNTY, STUDENT_W_DISABILITY, STUDENT_EL, STUDENT_ECONDIS, STUDENT_WHITE, STUDENT_BLACK, STUDENT_LATINO, STUDENT_ASIAN, STUDENT_NATIVEAM, STUDENT_NATHAW, STUDENT_MULTI, Total Students, 2019 Public PI Rank, 2019 PI for Ranking, Class 1 Value, Class 2 Value]
Index: []

In [17]:
s_pi_pt[s_pi_pt.duplicated(['Class 2 Value'])]

Empty DataFrame
Columns: [DIST_IRN, DIST_NAME, COUNTY, STUDENT_W_DISABILITY, STUDENT_EL, STUDENT_ECONDIS, STUDENT_WHITE, STUDENT_BLACK, STUDENT_LATINO, STUDENT_ASIAN, STUDENT_NATIVEAM, STUDENT_NATHAW, STUDENT_MULTI, Total Students, 2019 Public PI Rank, 2019 PI for Ranking, Class 1 Value, Class 2 Value]
Index: []

In [18]:
# No duplicates, no errors. Final dataset is generated.

# Export Data

In [19]:
s_pi_pt.to_csv(r"C:\Users\joesp\Documents\Projects\school-inequity\data\dataset.csv")