In [1]:
import pandas as pd
import re

# Constructing Dataset

## Ohio School Performance Index Rankings Data

In [2]:
# "pi" = Performance Index

pi_excel = pd.ExcelFile(r"C:\Users\joesp\Documents\Projects\ohio-school-inequity\data\2018-19_Performance_Index_Rankings.xlsx")
print("Excel Sheets: {}".format(pi_excel.sheet_names))
pi = pi_excel.parse("LEA Rankings")
pi.head(5)

Excel Sheets: ['Data Notes', 'LEA Rankings', 'Building Rankings']

,2019 PI Rank,LEA Name,2019 PI Proxy Descriptor,2019 PI for Ranking,2019 PI Letter Grade,ODE Designated County,LEA IRN,LEA Org Type,LEA Status as of 09/11/19,2019 Grade Span,Additional Comments
0,1,Columbus Preparatory Academy,Actual PI,112.77,A,Franklin,558,Community School,Open,K-12,NaN
1,2,Solon City,Actual PI,112.623,A,Cuyahoga,46607,Public District,Open,K-12,NaN
2,3,Rocky River City,Actual PI,109.385,A,Cuyahoga,44701,Public District,Open,K-12,NaN
3,4,Chagrin Falls Exempted Village,Actual PI,109.224,A,Cuyahoga,45286,Public District,Open,K-12,NaN
4,5,Madeira City,Actual PI,109.171,A,Hamilton,44289,Public District,Open,K-12,NaN

### Only keeping public schools, dropping irrelevant columns

In [3]:
print("Total Number of School Districts: {}".format(len(pi)))
pi = pi[pi['LEA Org Type'] == "Public District"]
print("Total Number of Public School Districts: {}".format(len(pi)))

Total Number of School Districts: 865
Total Number of Public School Districts: 608

In [4]:
pi = pi[['2019 PI Rank','LEA Name', '2019 PI for Ranking', 'ODE Designated County', 'LEA IRN']]

pi.reset_index(inplace=True, drop=True)
pi.drop(columns=["2019 PI Rank"], inplace=True)
pi.insert(0, "2019 Public PI Rank", pi.index+1)
pi.head(5)

,2019 Public PI Rank,LEA Name,2019 PI for Ranking,ODE Designated County,LEA IRN
0,1,Solon City,112.623,Cuyahoga,46607
1,2,Rocky River City,109.385,Cuyahoga,44701
2,3,Chagrin Falls Exempted Village,109.224,Cuyahoga,45286
3,4,Madeira City,109.171,Hamilton,44289
4,5,Ottawa Hills Local,109.06,Lucas,48215

## Ohio Property Tax Data

In [5]:
complete_pt = pd.DataFrame(columns=['IRN', 'School District'])

pt_excel = pd.ExcelFile(r"C:\Users\joesp\Documents\Projects\ohio-school-inequity\data\Property_Tax\2018.xls")
pt = pt_excel.parse("SD1CY18")
pt = pt[['Unnamed: 2', 'Unnamed: 4']]
pt.columns = ['IRN', 'School District']
pt = pt.drop(index=pt.index[0:12])
pt.reset_index(inplace=True, drop=True)

complete_pt['IRN'] = pt['IRN']
complete_pt['School District'] = pt['School District']

for i in range(10,19):
    pt_excel = pd.ExcelFile(r"C:\Users\joesp\Documents\Projects\ohio-school-inequity\data\Property_Tax" + r"\20" + str(i) + ".xls")
    pt = pt_excel.parse("SD1CY" + str(i))
    pt = pt[['Unnamed: 2', 'Unnamed: 20']]
    pt.columns = ['IRN', 'Property Tax per Student 20' + str(i)]
    pt = pt.drop(index=pt.index[0:12])
    pt.reset_index(inplace=True, drop=True)
    
    complete_pt = complete_pt.join(pt.set_index('IRN'), on='IRN', how='inner')
    complete_pt.dropna(axis=0, how='any', inplace=True)

In [6]:
columns = []
for i in range(10,19):
    columns.append('Property Tax per Student 20' + str(i))
complete_pt['Avg Property Tax per Student 2010-2018'] = complete_pt[columns].mean(axis=1)
complete_pt = complete_pt[['IRN', 'School District', 'Property Tax per Student 2018', 'Avg Property Tax per Student 2010-2018']]
complete_pt.head(10)

,IRN,School District,Property Tax per Student 2018,Avg Property Tax per Student 2010-2018
0,442,Manchester LSD (Adams),205345,315857.986174
1,61903,Ohio Valley LSD,103415,89782.231410
2,45757,Allen East LSD,130336,114366.195190
3,45765,Bath LSD,151687,134422.967856
4,45211,Bluffton EVSD,159609,136573.716197
5,43885,Delphos CSD,203263,173385.298157
6,45773,Elida LSD,150835,139265.128202
7,44222,Lima CSD,59695.6,58270.526073
8,45781,Perry LSD (Allen),235548,206920.650176
9,45799,Shawnee LSD,188070,167049.982079

## Ohio School District Student Data

In [7]:
# "s" = Student

s_excel = pd.ExcelFile(r"C:\Users\joesp\Documents\Projects\ohio-school-inequity\data\2018-19_District_Student_Headcount.xls")
print("Excel Sheets: {}".format(s_excel.sheet_names))
s = s_excel.parse("fy19_hdcnt_dist")
s.head(5)

Excel Sheets: ['data notes', 'fy18_hdcnt_state', 'fy19_hdcnt_dist', 'fy19_hdcnt_bldg', 'fy19_hdcnt_cs']

,DIST_IRN,DIST_NAME,COUNTY,PRESCHOOL,KINDERGARTEN,GRADE_1,GRADE_2,GRADE_3,GRADE_4,GRADE_5,...,STUDENT_ECONDIS,STUDENT_WHITE,STUDENT_BLACK,STUDENT_LATINO,STUDENT_ASIAN,STUDENT_NATIVEAM,STUDENT_NATHAW,STUDENT_MULTI,STUDENT_FEMALE,STUDENT_MALE
0,442,Manchester Local,Adams,20,46,53,72,83,59,71,...,834,836,<10,<10,<10,0,0,14,410,446
1,43489,Akron City,Summit,553,1743,1640,1577,1563,1680,1613,...,21295,6850,9908,848,1807,12,17,1853,10343,10952
2,43497,Alliance City,Stark,240,201,196,191,191,195,227,...,3043,2106,369,97,10,<10,<10,451,1436,1607
3,43505,Ashland City,Ashland,134,237,237,224,247,236,252,...,1050,2931,37,67,23,0,<10,127,1558,1633
4,43513,Ashtabula Area City,Ashtabula,174,245,228,246,318,242,242,...,3414,2146,235,596,<10,<10,<10,437,1662,1763

In [8]:
s = s.replace(['<10'], '0')
s['Total Students'] = s['STUDENT_FEMALE'].astype(int) + s['STUDENT_MALE'].astype(int)
s = s[['DIST_IRN', 'DIST_NAME', 'COUNTY', 'STUDENT_W_DISABILITY', 'STUDENT_EL', 'STUDENT_ECONDIS',
       'STUDENT_WHITE', 'STUDENT_BLACK', 'STUDENT_LATINO', 'STUDENT_ASIAN',
       'STUDENT_NATIVEAM', 'STUDENT_NATHAW', 'STUDENT_MULTI', 'Total Students']]
s.head(5)

,DIST_IRN,DIST_NAME,COUNTY,STUDENT_W_DISABILITY,STUDENT_EL,STUDENT_ECONDIS,STUDENT_WHITE,STUDENT_BLACK,STUDENT_LATINO,STUDENT_ASIAN,STUDENT_NATIVEAM,STUDENT_NATHAW,STUDENT_MULTI,Total Students
0,442,Manchester Local,Adams,150,0,834,836,0,0,0,0,0,14,856
1,43489,Akron City,Summit,3937,1793,21295,6850,9908,848,1807,12,17,1853,21295
2,43497,Alliance City,Stark,520,11,3043,2106,369,97,10,0,0,451,3043
3,43505,Ashland City,Ashland,389,27,1050,2931,37,67,23,0,0,127,3191
4,43513,Ashtabula Area City,Ashtabula,743,192,3414,2146,235,596,0,0,0,437,3425

## Joining Data into Final Dataset

In [9]:
# Simple join using IRN numbers

s_pi = s.join(pi.set_index('LEA IRN'), on='DIST_IRN', how='inner')
s_pi.reset_index(inplace=True, drop=True)
data = s_pi.join(complete_pt.set_index('IRN'), on='DIST_IRN', how='inner')
data.reset_index(inplace=True, drop=True)
data.drop(['2019 Public PI Rank', 'LEA Name', 'ODE Designated County', 'School District'], axis=1, inplace=True)
data.columns = ['IRN', 'School District', 'County', 'Students Disability', 'Students EL', 'Students EconDis',
               'Students White', 'Students Black', 'Students Latino', 'Students Asian', 'Students NativeAm',
               'Students NatHaw', 'Students Multi', 'Total Students', 'PI', 'Property Tax per Student 2018',
                'Property Tax per Student Mean']

categories = ['Black', 'White', 'Disability', 'Latino', 'Asian', 'NativeAm', 'NatHaw', 'Multi', 'EconDis', 'EL']

for category in categories:
    data['Students ' + category] = pd.to_numeric(data['Students ' + category])
    data['Percent ' + category] = (data['Students ' + category])/data['Total Students']
    
data['Students NonWhite'] = data['Total Students'] - data['Students White']
data['Percent NonWhite'] = (data['Students NonWhite'])/data['Total Students']

data.head(5)

,IRN,School District,County,Students Disability,Students EL,Students EconDis,Students White,Students Black,Students Latino,Students Asian,...,Percent Disability,Percent Latino,Percent Asian,Percent NativeAm,Percent NatHaw,Percent Multi,Percent EconDis,Percent EL,Students NonWhite,Percent NonWhite
0,442,Manchester Local,Adams,150,0,834,836,0,0,0,...,0.175234,0.000000,0.000000,0.000000,0.000000,0.016355,0.974299,0.000000,20,0.023364
1,43489,Akron City,Summit,3937,1793,21295,6850,9908,848,1807,...,0.184879,0.039822,0.084856,0.000564,0.000798,0.087016,1.000000,0.084198,14445,0.678328
2,43497,Alliance City,Stark,520,11,3043,2106,369,97,10,...,0.170884,0.031876,0.003286,0.000000,0.000000,0.148209,1.000000,0.003615,937,0.307920
3,43505,Ashland City,Ashland,389,27,1050,2931,37,67,23,...,0.121905,0.020997,0.007208,0.000000,0.000000,0.039799,0.329050,0.008461,260,0.081479
4,43513,Ashtabula Area City,Ashtabula,743,192,3414,2146,235,596,0,...,0.216934,0.174015,0.000000,0.000000,0.000000,0.127591,0.996788,0.056058,1279,0.373431

### Export

In [10]:
data.to_csv(r"C:\Users\joesp\Documents\Projects\ohio-school-inequity\data\dataset.csv", index=False)